{% extends 'main/layout.html' %}
{% block title %}Esas sehife{% endblock %}

{% block content %}

          <!-- partial -->
        </div>
      </header>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-center">
              <h2 class="text-center mt-5">
                Haqqımızda
              </h2>
              <p class="text-secondary fs-15 mb-5 pb-3">
              Bizlə əməkdaşlıq edin
              </p>
            </div>
          </div>
        </div>
        <div class="contact-wrap">
          <div class="row">
            <div class="col-lg-6  mb-5 mb-sm-2">
              <div class="position-relative image-hover">
                <img
                  src="https://img.freepik.com/free-vector/baku-azerbaijan-city-skyline-silhouette-vector-white-background-flat-vector-illustration-business-travel-tourism-concept-with-modern-buildings-image-banner-website_596401-20.jpg?w=2000"
                  class="img-fluid"
                  alt="world-news"
                />
              </div>
            </div>
            <div class="col-lg-6 mb-2 mb-lg-2">
              <div class="row">
                <div class="col-sm-12  mb-2 mb-lg-2">
                  
                  <p class="mb-3"></p>
                  <p class="mb-4">
                    <b>AzerNews.ml</b> xəbər saytı 2022-ci ilin avqust ayından fəaliyyət göstərir. 
                    Layihənin yaradılmasında backend üzrə<b> Python Django, SQLite</b>, front-end dizaynda isə<b>,  Bootstrap, CSS, JavaScript, Jquery, Ajax, </b>kitapxanasından və eyni zamanda
                    <b><i>Data mining</i></b> texnologiyasından istifadə edilmişdir.
                    
                  </p>
                  <p class="mb-4">
                    Məlumat bazası <b>Python (BS4)</b> vasitəsilə mining olunur və avtomatlaşdırılmış şəkildə <b>SQL</b> verilənlər bazasında yərləşdirilmişdir.
                    Daha sonra <b><i>SQLite</i></b> 'da olan məlumatları idarə edip görüntüləyən proqram yığılmışdır.
                      Layihəni avtomatlaşdırmaq üçün tərəfimdən iki ədəd <b>BOT</b> yaradılmışdır.<br>

                      *  <i>BOT</i>-ların iş rejimi avtomatik olaraq 6 saatdan bir təyin edilmişdir. Hal hazırda bazada  {{nsay}} sayda məlumat var. <a style="color:black" href="https://www.metbuat.az">Mənbə  <i>metbuat.az</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6  mb-2 mb-lg-2">
              <p class="fs-15 font-weight-normal mb-4 mt-5">
                Bizimlə əməkdaşlıq edin. (Saytin hal hazirki satış dəyəri 12.000 manatdır)
               
                
              </p>
              
            </div>
            <div class="col-lg-6  mb-5 mb-sm-2">
              <p class="fs-15 font-weight-normal mb-4 mt-5">
                Ünvan: Azərbaycan, Bakı şəhəri,  
              
              </p>
              <p>
                Telefon: (+994) 50-570-54-36
              </p>
              <p>
                E-mail: shahin_agayev@outlook.com , info@.azernews.ml
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}